<% layout('layout') -%>


<div class="body-top">
</div>
<div class="body-main">
        
	<h2>Hello world</h2>
	
</div>

<div class="body-mid">

	<h4>This is a basic app</h4>

</div>

<div class="body-lower">
	
</div>


	
